<span data-sly-test="${!properties.title}"  class="atomsTitle">[ Add title]</span>
<div>
    <h1 data-sly-test="${properties.title}" class="atomsTitle" style="color: ${properties.color @context='unsafe'}; font-size:${properties.size @context='unsafe'}; padding:${properties.padding @context='unsafe'}">
        ${properties.title @context='html'}
    </h1>
    <div class="line-container">
        <div class="underline" style="background-color: ${properties.color @context='unsafe'}"></div>
    </div>
</div>

